# Arca Back API ignore
/Arca-Back-API/node_modules
/Arca-Back-API/build
/Arca-Back-API/coverage
/Arca-Back-API/.vscode
/Arca-Back-API/.DS_STORE
/Arca-Back-API/.env
/Arca-Back-API/.env.example
/Arca-Back-API/.env.test
/Arca-Back-API/tmp
/Arca-Back-API/npm-debug.log*
/Arca-Back-API/yarn-debug.log*
/Arca-Back-API/yarn-error.log*
/Arca-Back-API/lerna-debug.log*
/Arca-Back-API/.pnpm-debug.log*
/Arca-Back-API/logs
/Arca-Back-API/*.log
/Arca-Back-API/.yarn/cache
/Arca-Back-API/.yarn/unplugged
/Arca-Back-API/.yarn/build-state.yml
/Arca-Back-API/.yarn/install-state.gz
/Arca-Back-API/.pnp.*
/Arca-Back-API/.yarn-integrity

# Arca Front End ignore
/Arca-Front/node_modules
/nuxt-ui-pro-dashboard/node_modules
/helloworld/node_modules
node_modules

# IDE
.idea
*.iml